#list-container {
	display: none;
}

ul#list-of-lists li {
	color: #3366FF;
	text-decoration: underline;
}

ul#list-of-lists li:hover {
	cursor: pointer;
	background-color: #ddd;
}

.your-lists {
	background-color: #B8DBFF;
	padding: 1em;
}

.center {
	text-align: center;
}